<div class="row">
  <div class="col-md-5">
    <h2>MongoDB, Express, Angular6, Node</h2>
    <h3>Cards</h3>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let card of cards"
        (click)="selectCard(card)"
        [class.active]="card === selectedCard">
        {{card.name}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewCard()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <card-details
      [card]="selectedCard"
      [createHandler]="addCard"
      [updateHandler]="updateCard"
      [deleteHandler]="deleteCard">
    </card-details>
  </div>
</div>