<div *ngIf="card" class="row">
  <div class="col-md-12">
    <h2 *ngIf="card._id">Card Details</h2>
    <h2 *ngIf="!card._id">New Card</h2>
  </div>
</div>
<div *ngIf="card" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="card-name">Name</label>
      <input class="form-control" name="card-name" [(ngModel)]="card.name" placeholder="Name"/>
    </div>
    <div class="form-group">
      <label for="card-info-number">Card Number</label>
      <input class="form-control" name="card-info-number" [(ngModel)]="card.info.number" placeholder="1234-5678-9012-3456"/>
    </div>
    <div class="form-group">
      <label for="card-info-expiration">Expiration Date</label>
      <input class="form-control" name="card-info-expiration" [(ngModel)]="card.info.expiration" placeholder="01/23"/>
    </div>
    <div class="form-group">
      <label for="card-info-cvv">CVV Code</label>
      <input class="form-control" name="card-info-cvv" [(ngModel)]="card.info.cvv" placeholder="012"/>
    </div>
    <button class="btn btn-primary" *ngIf="!card._id" (click)="createCard(card)">Create</button>
    <button class="btn btn-info" *ngIf="card._id" (click)="updateCard(card)">Update</button>
    <button class="btn btn-danger" *ngIf="card._id" (click)="deleteCard(card._id)">Delete</button>
  </form>
</div>